{% extends "base.html" %}

{% block body %}


    <h2 align="center"> Meet the Colorfy team</h2>
    <p>The ColorFy team started by three individuals during their 2022 Spring Semester of Human Factors class in
                                                                        Texas State University. It is a project designed around the idea of helping individuals on the internet that
                                                                        suffer from various types of color blindness. There are three members in the ColorFy team; Morguhn Burke,
        Michael Gonzales and Zohair Khan.</p>



    <h2 align="center"> Team Biography</h2>



       <p> Morguhn Burke is a Computer Science Major with a Math minor from Buda Texas. He spends majority of his time playing different various games,
           watching anime and putting unnecessary things on his truck. At a young age he also played Halo competitively but now is a casual Minecraft enthusiast.</p><br>



       <p> Michael Gonzales is a Computer Science Major from San Antonio. During his free time, he likes to spend his time outdoors playing golf.
           He has also piloted a plane before.</p><br>



       <p>Zohair Khan is a Computer Science Major with a Math minor from Houston Texas. He likes to spend his time playing competitive online games ranging
        different genres such as FPS, MOBAs and even MMOs. Before attending Texas State, Zohair took a gap after High school and competed in a professional
           esports career in Overwatch and worked as a professional player, analyst and a coach for multiple teams.</p>


    </pre>




{% endblock %}
