{% extends "base.html" %}

{% block body %}

    <div align="center">
        <img src="static/resources/colorfylogo.png" width="600" height="200"/>

    </div>

    <h1 align="center"> Home </h1>
    <div align="center">
       <p>Welcome to ColorFy, an improved colorblind filter for those who suffer from various
       different types of colorblindness. Our mission is to help people who suffer from colorblindness
       filter their favorite pictures, images or even memes and allow them to see the colors they
       cannot visually interpret.</p>

       <p>With our advanced color filter system, you can upload your image and have it filtered within minutes with
       your original picture and the new picture side by side so you can make the comparison and see the difference.
       An example below shows two images, on the left is the original and on the right is the newly filtered image.
           If you want check out our color filter, click the link below to be redirected to the color filter section.</p>
    </div>
        <div align="center">
           <a href=colorfilter>Color Filter</a>
        </div>
    <br><br>


    <h5 align="center"> Example of our color filter </h5>
    <div align="center">
    <img src="static/resources/example.jpg" width="600" height="200"/>
    </div>
        <p>Suffer from colorblindness and you don't know what category you fit under? Don't know if you suffer from
        colorblindness or not? You can take our ColorFy colorblind test and in less than 5 minutes you will have
        all your questions answered regarding whether or not you suffer from colorblindness or what type of category
            of colorblindness you fit under. Click the link below to be redirected to our colorblind test.</p>
    <div align="center">
    <a href=colorquiz>Colorblind Test</a>
    </div>

    <p align="center">Want to know more about us? Check out our About Us section or click the link below to learn more about
        the ColorFy team.</p>

    <div align="center">
        <a href=about>About Us</a>
    </div>
    <br><br>

    <h5 align="center"> Reviews </h5>
    <p align="center">Below are some users that tested our ColorFy filter system and reviewed our product.</p>

<div align="center">
    <img src="static/resources/comment 1.png" />
    <img src="static/resources/comment 2.png" />
    <img src="static/resources/comment 3.png" />
<div>








{% endblock %}